/* HTML SIZING */
html{
    box-sizing:border-box;
}

*, *:before, *:after{
    box-sizing:inherit;
}

img{
    max-width:100%;
    height:auto;
  }


body{
  margin:auto;
}

/* HEADER */

header.primary{
  background-image: url("https://images.unsplash.com/photo-1610296669228-602fa827fc1f?q=80&w=1075&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  text-align:center;
  width:100%;
  min-height: 100vh;
}

header #header-title{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header.primary h1{
  font-size:5rem;
  color:aliceblue;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  text-shadow: 6px 5px 3px rgba(0,0,0,0.3);
}

header.primary h2{
  color:aliceblue;
  font-size: 3rem;
  margin: 0;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-weight: bold;
  text-shadow: 6px 5px 3px rgba(0,0,0,0.3);
}

.nav2{
background-color: #aca694;
justify-content: space-between;
align-items: center;
} 

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header.primary nav ul li{
  list-style-type:none;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}

header.primary nav ul li a{
  border-radius:15px;
  color:aliceblue;
  display:block;
  padding:15px 15px 15px 15px;
  text-align:center;
  transition:0.3s;
  text-decoration:none;
  font-size:0.9rem;
}

header.primary nav ul li a:hover{
  background-color:#21301e;
  color:aliceblue;
}

header.primary nav ul li a.active{
  background-color:#21301e;
}

section.secondary{
  padding: 20px;
}

/* OTHER STUFF */
section.careers div div {
  background-color:red;
  border-radius:15px;
}

section.careers div div div p{
  text-align:left;
}

section.careers div div div img{
  border-radius:15px;
}

/* CARDS */
section.cards {
  padding: 100px 0; /* Instead of fixed height */
}

h4{
  text-align: center;
}

.card-body {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

h5.card-title {
  margin-top: 10px;
  color: #21301e;
  font-weight: 600;
}

/* FOOTER */
#colophon{
  background-color:#aca694;
  color:aliceblue;
  width:100%;
  padding:20px;
}

#colophon p{
  text-align:center;
  font-size:0.6rem;
}


/* UTILITY CLASSES */


/* MEDIA QUERIES */
@media (min-width: 1470px) and (max-width: 1700px)  {
  .site {
    
    width: 700px; 
    height: 500px; 
  }
}
@media (max-width: 1470px)  {
  .site {
    
    width: 600px; 
    height: 400px; 
    
  }
}